<div>
<h2>Have a new dish to sell today?</h2>
<form (submit)="addNew(newDish)" #newDish="ngForm">
  <div *ngIf="msg" style="color: red">
      <p *ngIf="msg.errors.dish">{{msg.errors.dish.message}}</p>
      <p *ngIf="msg.errors.pic">{{msg.errors.pic.message}}</p>
      <p *ngIf="msg.errors.price">{{msg.errors.price.message}}</p>
      <p *ngIf="msg.errors.quan">{{msg.errors.quan.message}}</p>
      <p *ngIf="msg.errors.desc">{{msg.errors.desc.message}}</p>
      <p *ngIf="msg.errors.exp">{{msg.errors.exp.message}}</p>
  </div>
  <p *ngIf="exist" style="color: red">{{exist}}</p>
  
  <br>
  Dish name : <input type="text" name="dish" ngModel>
  <br>
  Picture url: <input type="text" name="pic" ngModel>
  <br>
  Price: <input type="text" name="price" ngModel>
  <br>
  Zip Code: <input type="text" name="zip" ngModel>
  <br>
  Quantity: <input type="text" name="quan" ngModel>
  <br>
  Description: <input type="text" name="desc" ngModel>
  <br>
  Expiration Date: <input type="date" name="exp" ngModel>
  <br>
  <input type="submit" value="Sell Dish">
</form>
<button (click)="logout()">Logout</button>
</div>

<div *ngFor="let food of foods">
  <div style="border: 1px solid salmon; width: 600px">
   <p>Dish name: {{food.dish}}</p>
  <img [src]="food.pic" alt="food" width=350, height=250>
  <p> Price: {{food.price}}</p>
  <p>Quantity: {{food.quan}}</p>
  <p>Description: {{food.desc}}</p>
  <p>Expiration Date: {{food.exp}}</p>
</div>
</div>